
body {
  font-family: 'Bierstadt', sans-serif;
  font-size: 11px;
  background-color:#fefdf6 !important;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


a {
  color: #8e0000!important;
}
